In [13]:
import pandas as pd
data = pd.read_csv('seqUNi.csv', sep=';')
data

       Entry                                           Sequence
0     P09798  MKFCLYCCHCYIVICGKATHYYKSSKATSNLKSSNRVLMRNPMSPS...
1     P38717  MSVHGRDPKKRQLRLISVAFKEASIDSPSFRASVNFFQTRVDALED...
2     P07342  MIRQSTLKNFAIKRCFQHIAYRNTPAMRSVALAQRFYSSSSRYYSA...
3     P15790  MKCRVWSEARVYTNINKQRTEEYWDYENTVIDWSTNTKDYEIENKV...
4     P22035  MSNISTKDIRKSKPKRGSGFDLLEVTESLGYQTHRKNGRNSWSKDD...
...      ...                                                ...
4419  P41733  MDSTALKVALGCIAIRLAVNSLFPSLQQQLDQSVEFSTPVTSFRSL...
4420  P47013  MVDGLNTSNIRKRARTLSNPNDFQEPNYLLDPGNHPSDHFRTRMSK...
4421  P43636  MIEKDKRTIAFIHPDLGIGGAERLVVDAALGLQQQGHSVIIYTSHC...
4422  P38137  MTSAATVTASFNDTFSVSDNVAVIVPETDTQVTYRDLSHMVGHFQT...
4423  P47114  MFNHDWKYSINSKTFADLNIELFRNHKFKTVLNYIIGVVGWNGLKL...

[4424 rows x 2 columns]

In [14]:
from decimal import *
import csv
from Bio import SeqIO

In [16]:
# Generating vector space (7*7*7)
def VS(rang):
    V = []
    for i in range(1,rang):
        for j in range(1,rang):
            for k in range(1,rang):
                tmp = "VS"+str(k) + str(j) + str(i)
                V.append(tmp)
    return V

In [17]:
# calculating conjoint triad for input sequence
def frequency(seq):
    frequency = []
    for i in range(0, (len(seq) - 3)):
        subSeq = seq[i:i+3]
        tmp = "VS"
        for j in range(0,3):
            if((subSeq[j] == 'A') or (subSeq[j] == 'G') or (subSeq[j] == 'V')):
                tmp += "1"
            elif((subSeq[j] == 'I') or (subSeq[j] == 'L') or (subSeq[j] == 'F') or (subSeq[j] == 'P')):
                tmp += "2"
            elif((subSeq[j] == 'Y') or (subSeq[j] == 'M') or (subSeq[j] == 'T') or (subSeq[j] == 'S')):
                tmp += "3"
            elif((subSeq[j] == 'H') or (subSeq[j] == 'N') or (subSeq[j] == 'Q') or (subSeq[j] == 'W')):
                tmp += "4"
            elif((subSeq[j] == 'R') or (subSeq[j] == 'K')):
                tmp += "5"
            elif((subSeq[j] == 'D') or (subSeq[j] == 'E')):
                tmp += "6"
            elif((subSeq[j] == 'C')):
                tmp += "7"
        frequency.append(tmp)
    return frequency

In [18]:
# Creating frequency_dictionary, and calaculate frequency for eaech conjoint triad
def freq_dict(V, freq):
    frequency_dictionary = {}
    for i in range(0, len(V)):
        key = V[i]
        frequency_dictionary[key] = 0

    for i in range(0, len(freq)):
        frequency_dictionary[freq[i]] = frequency_dictionary[freq[i]]+1

    # Normalization

    # Getting fmin & fmax
    # fmax = int(0)
    # fmin = int(0)
    # for i in range(0, len(V)):
    #     key = V[i]
    #     if(frequency_dictionary[key] > fmax):
    #         fmax = frequency_dictionary[key]
    #     if(frequency_dictionary[key] < fmin):
    #         fmin = frequency_dictionary[key]
    #
    # # di = (fi - fmin) / fmax
    # for i in range(0, len(V)):
    #     key = V[i]
    #     getcontext().prec = 3
    #     frequency_dictionary[key] = float("{0:.3f}".format(((frequency_dictionary[key] - fmin) / fmax)))

    return frequency_dictionary

In [19]:
# Export the output to .csv file
def output_to_csv(seq_ID, frequency_dict):

    # Each row in csv file [ seqID, frequencies ]
    data = [seq_ID]
    for key, value in frequency_dict.items():
        data.append(value)

    with open('conjoint_triad.csv', 'a') as csvfile:
        conjointTriad = csv.writer(csvfile)
        conjointTriad.writerow(data)

In [20]:
def conjoint_triad():
    # Truncating .csv file
    filename = "conjoint_triad.csv"
    f = open(filename, "w+")
    f.close()
    # reading input file
    sequences=data['Sequence']
    seq_IDs = data['Entry']
    # Creating vector space
    v = VS(8)

    #writing vector space as header in the csv file
    header = ["ID"]
    for i in range(0, len(v)):
        header.append(v[i])
    with open(filename, "a") as headingcsv:
        headerwriter = csv.writer(headingcsv)
        headerwriter.writerow(header)

    # calculating conjoint_triad for each sequence
    for i in range(0, len(sequences)):
        fi = frequency(sequences[i])
        freqDict = freq_dict(v, fi)
        output_to_csv(seq_IDs[i], freqDict)
    print('Data was exported to "conjoint_triad.csv."')

In [21]:
conjoint_triad()

Data was exported to "conjoint_triad.csv."

# result of CT

In [23]:
import pandas as pd
data = pd.read_csv('conjoint_triad.csv', sep=',')
data

,ID,VS111,VS211,VS311,VS411,VS511,VS611,VS711,VS121,VS221,...,VS567,VS667,VS767,VS177,VS277,VS377,VS477,VS577,VS677,VS777
0,P09798,3,2,4,1,2,6,0,3,9,...,0,0,0,0,0,1,0,0,0,0
1,P38717,1,2,3,3,0,0,0,5,14,...,0,0,0,0,0,0,0,0,0,0
2,P07342,12,9,10,5,5,1,0,14,6,...,0,0,0,0,0,0,0,0,0,0
3,P15790,0,0,0,1,2,0,0,3,1,...,0,0,0,0,0,0,0,0,0,0
4,P22035,0,1,3,2,1,2,0,4,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,P41733,1,2,1,2,2,1,0,7,8,...,0,0,0,0,0,0,0,0,0,0
4420,P47013,3,2,8,1,0,1,2,3,7,...,0,1,0,0,0,0,0,0,1,0
4421,P43636,3,4,3,1,2,2,1,9,4,...,0,0,0,0,0,0,0,0,0,0
4422,P38137,4,5,8,4,2,2,0,8,8,...,0,0,0,0,0,0,0,0,0,0
4423,P47114,2,3,1,0,0,1,0,2,7,...,1,0,0,0,0,0,0,0,0,0